* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-custom {
  background-color: #2c3e50 !important;

  
  /* dah elpadding should be removed while scroling */
  padding: 1.5rem;
}

.navbar-brand.nav-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: white !important;
  text-decoration: none;
}

.navbar-brand.nav-brand:hover {
  color: white !important;
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0.75rem;
  border-radius: 8px;
}

.navbar-toggler:focus {
  box-shadow: none;
  border-color: #1abc9c;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link.active {
background-color: #1abc9c;
color: white !important;
}
